<html>
<head>
    <title>@ViewBag.Title</title>
    @*All the javascript and css files that are required by the
        application can be referenced here so that there is no
        need to reference them in each and every view*@
</head>
<body>
    <table border="1" style="font-family:Arial">
        <tr>
            <td colspan="2" style="text-align:center">
                <h3>Website Header</h3>
                <p>
                    @using (@Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <b>Search By:</b>
                        @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
                        @Html.RadioButton("searchBy", "Gender") <text>Gender</text><br />
                        @Html.TextBox("search") <input type="submit" value="search" />
                    }
                </p>
            </td>
        </tr>
        <tr>
            <td>
                @if (IsSectionDefined("Menu"))
                {
                    @RenderSection("Menu", false)
                }
                else
                {
                    @Html.ActionLink("Employee List", "Index")
                }
            </td>
            <td >
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small">
                <h3>Website Footer</h3>
            </td>
        </tr>
    </table>
</body>
</html>
