@model Sortby.Models.Employee
<tr>
    <td>
        <input type="checkbox" name="employeeIdsToDelete" id="employeeIdsToDelete" value="@Model.Id" />
    </td>
    <td>
        @Model.FullName
    </td>
    <td>
        @Model.Gender
    </td>
    <td>
        @Model.Age
    </td>
    <td>
        @Model.EmailAddress
    </td>
   
</tr>